STRINGTABLE
LANGUAGE LANG_GREEK, SUBLANG_DEFAULT
{
700, "N/A"
701, "Unknown"

704, "Power system"
705, "Ιδιότητες μπαταρίας"

710, "Όνομα συσκευής"
711, "Κατασκευαστής"
712, "Ημερομηνία κατασκευής"
713, "Σειριακός αριθμός"
714, "Τύπος μπαταρίας"
715, "Charge/Discharge Cycles"
716, "Wear Level"
717, "Power State"
718, "Designed Capacity"
719, "Fully Charged Capacity"
720, "Current Capacity"
721, "Battery Voltage"
722, "Charge/Discharge Rate"
723, "Charge Rate"
724, "Discharge Rate"
725, "Warning Battery Alert 1"
726, "Warning Battery Alert 2"
727, "Θερμοκρασία"

740, "Nonrechargeable %0:s"
741, "Rechargeable %0:s"
742, "Nonrechargeable"
743, "Rechargeable"

745, "AC Line"
746, "Charging"
747, "Fully Discharged"
748, "Discharging"

750, "&Προβολή"
751, "&Πάντα σε πρώτο πλάνο"

755, "&Αρχείο"
756, "&Κλείσιμο"
757, "&Αποθήκευση"
758, "Αποθήκευση &ως..."
759, "Όλα τα αρχεία"
760, "Αρχεία κειμένου"
761, "Log Files"

765, "Power Management Properties"

770, "Current Power Source"
771, "Κατάσταση μπαταρίας"
772, "Full Battery Lifetime"
773, "Remaining Battery Lifetime"

775, "%0:u hr %1:.2u min"
776, "%1:u min"

780, "AC Line"
781, "UPS"
782, "Μπαταρία"

784, "No battery"
785, "%0:d%% (High, Charging)"
786, "%0:d%% (Low, Charging)"
787, "%0:d%% (Critical, Charging)"
788, "%0:d%% (Charging)"
789, "%0:d%% (High)"
790, "%0:d%% (Low)"
791, "%0:d%% (Critical)"
792, "%0:d%%"
793, "High, Charging"
794, "Low, Charging"
795, "Critical, Charging"
796, "Charging"
797, "High"
798, "Low"
799, "Critical"
}
