STRINGTABLE
LANGUAGE LANG_GREEK, SUBLANG_DEFAULT
{
1000, "Χρονοδιάγραμμα"
1001, "Εφαρμογή"
1002, "Άκυρο"
1003, "Προσθήκη κανόνα"

1005, "Βοήθεια χρονοδιαγράμματος"
1006, "https://bmode.tarcode.ru/scheduler-help"

1010, "Έχετε μη αποθηκευμένες αλλαγές. Θέλετε να τις αποθηκεύσετε τώρα;"

1020, "Ενεργοποίηση χρονοδιαγράμματος"

1030, "Όταν %0:s"
1031, "και %0:s"
1032, "ή %0:s"
1033, "%0:s"
1034, "και %0:s"
1035, "Δεν ορίστηκαν ακόμη εναύσματα"
1036, "ενώ %0:s"
1037, "και %0:s"
1038, "ή %0:s"

1040, "Ενεργοποίηση"

1045, "Τροποποίηση"
1046, "Διαγραφή"

1050, "Νέος κανόνας"

1060, "Μετακίνηση προς τα πάνω"
1061, "Μετακίνηση προς τα κάτω"

1070, "Ιδιότητες"
1071, "Εφαρμογή"
1072, "Άκυρο"

1075, "Ο κανόνας τροποποιήθηκε. Θέλετε να τον αποθηκεύσετε τώρα;"

1080, "Όνομα"
1081, "Να μην εφαρμοστούν άλλοι κανόνες"

1085, "Εάν"
1086, "πληρούνται όλες οι ακόλουθες συνθήκες"
1087, "πληρείται οποιαδήποτε από τις ακόλουθες συνθήκες"
1088, "Ενώ"

1090, "Διαγραφή"
1091, "Άγνωστη συνθήκη"
1092, "Εκκαθάριση"

1095, "Προσθήκη εναύσματος"
1096, "Εκτέλεση ενεργειών"
1097, "Προσθήκη συνθήκης"

1100, "εμφάνιση μηνύματος \"%0:s\""
1101, "Εμφάνιση μηνύματος"

1110, "ο ορισμός παροχής ενέργειας \"%0:s\""
1111, "Οριμός σχεδίου παροχής ενέργειας"

1120, "Έναρξη προγράμματος"
1121, "έναρξη \"%0:s\""
1122, "έναρξη \"%0:s\" σε κρυφή λειτουργία"

1125, "Αναζήτηση"
1126, "Εκκίνηση σε κρυφή λειτουργία"

1130, "Αναπαραγωγή ήχου"
1131, "αναπαραγωγή ήχου \"%0:s\""
1132, "αναπαραγωγή ήχου \"%0:s\" με ένταση %1:d%%"

1135, "Αναζήτηση"
1136, "Ένταση"
1137, "Αρχεία ήχου"
1138, "Όλα τα αρχεία"

1140, "Ενέργεια"
1141, "τερματισμός λειτουργίας αυτού του υπολογιστή"
1142, "επανεκκίνηση των Windows"
1143, "αναστολή λειτουργίας αυτού του υπολογιστή"
1144, "αδρανοποίηση αυτού του υπολογιστή"
1145, "απενεργοποίηση οθόνης"
1146, "ενεργοποίηση οθόνης"

1151, "Τερματισμός λειτουργίας"
1152, "Επανεκκίνηση"
1153, "Αναστολή λειτουργίας"
1154, "Αδρανοποίηση"
1155, "Απενεργοποίηση οθόνης"
1156, "Ενεργοποίηση οθόνης"

1200, "η φόρτιση μπαταρίας %0:s %1:d%%"
1201, "η φόρτιση μπαταρίας %0:s"
1202, "Φόρτιση μπαταρίας"

1205, "πέφτει κάτω από"
1206, "ανεβαίνει πάνω από"
1207, "αλλάζει"

1220, "ο φορτιστής %0:s"
1221, "Φορτιστής"

1225, "συνδέεται"
1226, "αποσυνδέεται"
1227, "αλλάζει κατάσταση"

1240, "το καπάκι φορητού υπολογιστή %0:s"
1241, "Καπάκι φορητού υπολογιστή"

1245, "κλείνει"
1246, "ανοίγει"

1250, "ο υπολογιστής μεταβαίνει σε αναστολή λειτουργίας/αδρανοποίηση"
1251, "Αναστολή λειτουργίας/Αδρανοποίηση"

1255, "ο υπολογιστής επανέρχεται από αναστολή λειτουργίας/αδρανοποίηση"
1256, "Επαναφορά από αναστολή λειτουργίας/αδρανοποίηση"

1260, "η οθόνη %0:s"
1261, "Οθόνη"

1265, "απενεργοποιείται"
1266, "ενεργοποιείται"
1267, "γίνεται πιο σκοτεινή"

1280, "power scheme \"%0:s\" becomes active"
1281, "Power scheme is set to"

1290, "Battery Mode starts"
1291, "Battery Mode is just started"

1300, "η φόρτιση μπαταρίας %0:s %1:d%%"
1301, "Φόρτιση μπαταρίας"

1305, "είναι κάτω από"
1306, "είναι πάνω από"

1320, "ο φορτιστής %0:s"
1321, "Φορτιστής"

1325, "είναι συνδεδεμένος"
1326, "είναι αποσυνδεδεμένος"

1340, "το καπάκι φορητού υπολογιστή %0:s"
1341, "Καπάκι φορητού υπολογιστή"

1345, "είναι κλειστό"
1346, "είναι ανοιχτό"

1360, "η οθόνη %0:s"
1361, "Οθόνη"

1365, "είναι απενεργοποιημένη"
1366, "είναι ενεργοποιημένη"
1367, "είναι σκοτεινή"

1380, "το ενεργό σχέδιο παροχής ενέργειας είναι \"%0:s\""
1381, "Ενεργό σχέδιο παροχής ενέργειας είναι"

1390, "το ενεργό σχέδιο παροχής ενέργειας δεν είναι \"%0:s\""
1391, "Ενεργό σχέδιο παροχής ενέργειας δεν είναι"
}
