STRINGTABLE
LANGUAGE LANG_GREEK, SUBLANG_DEFAULT
{
0, "Ελληνικά"
1, "Battery Mode"
2, "Επιλέξτε το σχέδιο παροχής ενέργειας:"
3, "&Ρυθμίσεις"
4, "Χρήση &μονόχρωμων εικονιδίων"
5, "Ρύθμιση"
6, "&Αυτόματη έναρξη με τα Windows"
7, "Σταθερή &φωτεινότητα οθόνης"

9, "&Έξοδος"
10, "Έκδοση"
11, "&Ιστοσελίδα Battery Mode"
12, "https://en.bmode.tarcode.ru"
13, "&Πληροφορίες για το σύστημα παροχής ενέργειας"

15, "&Ενέργεια"
16, "&Ενεργοποίηση ή απενεργοποίηση των εικονιδίων συστήματος"
17, "Κέντρο &φορητότητας των Windows"

20, "&Ένδειξη σχεδίου παροχής ενέργειας"
21, "&Να μην εμφανίζεται"
22, "Εμφάνιση στην &κύρια οθόνη"
23, "Εμφάνιση σε &όλες τις οθόνες"
24, "Διαφάνεια"

26, "&Κρυφά σχέδια παροχής ενέργειας"
27, "Κρυφό σχέδιο"

30, "Ενεργοποίηση προσαρμοστικής φωτεινότητας"
31, "Απενεργοποίηση προσαρμοστικής φωτεινότητας"

40, "https://bmode.tarcode.ru/update.uurl"
41, "Αυτόματες &ενημερώσεις"
42, "&Ενεργοποίηση αυτόματων ενημερώσεων"
43, "&Έλεγχος για ενημερώσεις"
44, "Μια νέα έκδοση του %0:s είναι διαθέσιμη\nΚάντε κλικ εδώ για περισσότερες λεπτομέρειες"
45, "Η ενημέρωση ήταν επιτυχής\nΗ νέα έκδοση είναι η %0:s"
46, "Η ενημέρωση απέτυχε\nΚάντε κλικ εδώ για να επισκεφθείτε την ιστοσελίδα"

50, "Εμφάνιση ρυθμιστικού &φωτεινότητας για οθόνες"
51, "&Σάρωση για οθόνηες"
52, "Ενσωματωμένη οθόνη"
53, "Ρυθμιστικό &φωτεινότητας"
54, "Εμφάνιση μοντέλου &οθόνης"
55, "Εμφάνιση &φωτεινότητας σε ποσοστό"
56, "Φωτεινότητα"
57, "Ρύθμιση φωτεινότητας αυτής της οθόνης με κύλιση πάνω από το εικονίδιο στη γραμμή συστήματος"
58, "Επανεφαρμογή φωτεινότητας μετά την επαναφορά της οθόνης από αναμονή"

60, "Εξοικονόμηση μπαταρίας"

69, "Στυλ συστήματος"
70, "&Στυλ εικονιδίων"
71, "Windows 7"
72, "Windows 8"
73, "Windows 10"
74, "Windows 8 Light"
75, "Windows 10 Light"
76, "Windows XP"
77, "Windows Vista"
78, "Windows 11"
79, "Windows 11 Light"

80, "&Χρονοδιάγραμμα"
81, "Interface"
82, "Κύριο παράθυρο"
83, "Εικονίδια"

90, "Ο συνδυασμός πλήκτρων πρόσβασης για αλλαγή σχεδίου παροχής ενέργειας"
91, "Disabled"
92, "Πλήκτρα πρόσβασης"
93, "Επιλεγμένο πλήκτρο πρόσβασης"

100, "Εξαγωγή ρυθμίσεων σε αρχείο"
101, "Εισαγωγή ρυθμίσεων από αρχείο"

105, "%0:s Settings"
106, "Εξαγωγή ρυθμίσεων %0:s"
107, "Εισαγωγη ρυθμίσεων %0:s"

110, "Αρχεία μητρώου (*.reg)"
111, "Αρχεία κειμένου (*.txt)"
112, "Όλα τα αρχεία"

120, "&Χρώμα εικονιδίων"
121, "Based on power scheme"
122, "Based on battery charge"
123, "Λευκό"
124, "Based on power scheme (inverted)"
125, "Based on battery charge (inverted)"
126, "Based on charger"
127, "Based on charger or battery charge"

130, "Απενεργοποίηση &περιγράμματος αναδυόμενου παραθύρου"
131, "Use &crossed icon when the battery is missing"
132, "Εμφάνιση &ποσοστού φόρτισης στη γραμμή συστήματος"
133, "Λευκό εικονίδιο για εξισορροπημένο σχέδιο παροχής ενέργειας"
134, "&Τερματισμός λειτουργίας ή αποσύνδεση χρήστη"
135, "Popup footer &link"
136, "&Απενεργοποίηση οθόνης"
137, "&Τερματισμός λειτουργία"
138, "&Επανεκκίνηση"
139, "&Αναστολή λειτουργίας"
140, "&Αδρανοποίηση"
141, "&Αποσύνδεση χρήστη"
142, "&Κλείδωμα"
143, "&Αντιμετώπιση προβλημάτων"
144, "&Κατάσταση μπαταρίας"
145, "&Αποσύνδεση"

150, "&Γλώσσα"
151, "&Προεπιλεγμένη"

160, "Μέγιστη απόδοση"
161, "Βέλτιστη απόδοση"
162, "Καλύτερη διάρκεια μπαταρίας"

170, "Power scheme &sets to use"
171, "&Κλασικά σχέδια παροχής ενέργειας"
172, "Λειτουργίες παροχής ενέργειας των &Windows 10"
173, "Σχέδια παροχής ενέργειας"

180, "Display large Power Scheme Indicator in the middle of screen(s) when switching a Power Scheme"
181, "Use crossed Battery Icon when battery is removed from computer"
182, "Display current charge percentage instead of Battery Icon in system tray"
183, "Make window border thin and remove shadow"
184, "Display \"Classic\" Power Schemes (ex. \"Power saver\" and \"High performance\") in Power Scheme list, even when they are hidden by OS"
185, "Display balanced plan's Power Modes (which are controlled by slider in default Windows 10 Battery Popup) in Power Scheme list"
186, "Display vendor-specific, hidden Power Schemes in Power Scheme list"
187, "Configure global hotkey to switch through Power Schemes"
188, "Prevent internal screen brightness from being changed when you switch a Power Scheme or (dis)connect the charger"
189, "Automatically check for updates (once a day) and ask to update"
190, "Use white icon instead of yellow for Balanced Power Scheme"

210, "Πληροφορίες"
211, "Δημιουργός"
212, "Artem Tarasov"
213, "Ιστοσελίδα Battery Mode"
214, "Battery Mode Documentation"
215, "https://en.bmode.tarcode.ru/help"
216, "Σχόλια"
217, "https://en.bmode.tarcode.ru/feedback"
218, "Contribute to Battery Mode"
219, "https://en.bmode.tarcode.ru/contribute"
220, "Scheduler Documentation"
221, "https://en.bmode.tarcode.ru/scheduler-help"
222, "Σημειώσεις έκδοσης"
223, "https://en.bmode.tarcode.ru/releasenotes"
224, "Άδεια χρήσης"
225, "Πηγαίος κώδικας"
226, "https://github.com/tarcode-apps/BatteryMode"

230, "Για προχωρημένους"
231, "Monitor detection delay"
232, "You can increase monitor detection delay if you experience issues with disappearing brightness indicators"
233, "δευτερόλεπτα"

235, "Show brightness level in tray icon popup"

3000, "Battery Mode requires the \"Power\" service to be running"

10000, "Άνοιγμα φακέλου καταγραφών εντοπισμού σφαλμάτων"
}
