STRINGTABLE
LANGUAGE LANG_GREEK, SUBLANG_DEFAULT
{
2000, "Εφαρμογή"
2001, "Άκυρο"
2002, "Μετονομασία"

2100, "Μετονομασία οθόνης"
2101, "Νέο όνομα για %0:s"
2102, "Επαναφορά αρχικού ονόματος"

2150, "Επίπεδα"
2151, "Χρήση προεπιλογών"

2155, "Κρίσιμο επίπεδο από %0:d%% έως"
2156, "Χαμηλό επίπεδο από %0:d%% έως"
2157, "Μεσαίο επίπεδο από %0:d%% έως"
2158, "Υψηλό επίπεδο από %0:d%% έως %1:d%%"
}
