STRINGTABLE
LANGUAGE LANG_GREEK, SUBLANG_DEFAULT
{
2000, "Εφαρμογή"
2001, "Άκυρο"
2002, "Μετονομασία"

2100, "Rename monitor"
2101, "New name for %0:s"
2102, "Revert original name"

2150, "Levels"
2151, "Use defaults"

2155, "Κρίσιμο επίπεδο από %0:d%% έως"
2156, "Χαμηλό επίπεδο από %0:d%% έως"
2157, "Μεσαίο επίπεδο από %0:d%% έως"
2158, "Υψηλό επίπεδο από %0:d%% έως %1:d%%"
}
